.TKVHvk_keyboard
{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	padding:2em 0;
	background:black;
	user-select:none;
	transition:bottom 0.4s;
	height:45vh;
}

.TKVHvk_keyboardHidden
{
	bottom:-100%;
}	
.TKVHvk_keysContainer
{
	text-align: center;
}
.TKVHvk_keysContainer button
{
	height: 2.5em;
    width: 1.7em;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 0.7em;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.TKVHvk_iconKeyboard
{
	width:1em;
	height:1.3em;
}

#TKVHvk_keySpaceBar
{
	max-width:100%;
	width:15em;
}


